 <header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <div class="header">
        <img src="https://cdn-icons-png.flaticon.com/128/807/807175.png" alt="logo" />
        <h1>MedLife</h1>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="nav-link" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
        <div class= "f">
          <img src="https://cdn-icons-png.flaticon.com/128/5582/5582872.png" alt="logo" style="width: 40%;"/>
          <div class= "f">   
            <a class="nav-link" href="#">Login/Register</a>
           
          </div>
        
        </div>
      </div>
    </div>

  </nav>
</header>
