  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--primary-color: #79AC78;;
	--text-color: #000000;
}header{
    background: #79AC78;
    padding: 0;
    border-bottom: 1px solid #79AC78;
    font-size: 1em;
   
}

a{
    color:#79AC78
}

a:hover{
    background: #79AC78;
    color: white;
}

.container{
    margin: 0 auto;
    
    display: flex;
    justify-content:space-between;
}

a.logo{
    font-weight: bold;
    padding: 1em;
}

nav ul{
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    padding: 1em;
    display: inline-block;
}
img {

    width: 40%;
  }
  h1{
    font-size: 1em;
    font-weight: bold;
    color:#79AC78;
  }
  .f{
    width: 100px; 
    margin : 0 auto; 
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
  } 
   
